$font-stack: Helvetica, sans-serif;
$primary-color: #37a33b;

@import "app";
body {
  font: 100% $font-stack;
  color: $primary-color !important;
}

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}
